# Virtual Environment
.venv
venv/
env/

# IDE
.idea
.vscode

# Environment variables
.env
.env.local
.env.production

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
/static

# OS
.DS_Store
Thumbs.db